*.iml
.gradle
/gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea
.DS_Store
/build
/captures
.externalNativeBuild
/module_ep/src/main/java/.project
/module_ep/src/main/java/.classpath
debug/
release/
gradle.env.sh
.vscode
.project
.classpath
.settings
*/.project
*/.classpath
*/.settings
jniLibs/.gitignore